# Package files #
*.jar
*.war
*.ear

# Eclipse files #
.classpath
.project
.settings

# IntelliJ IDEA files #
.idea
*.iml

# Maven derived files
target
*.class

# git derived files
*.orig

# Misc
*.log
